<?xml version="1.0" encoding="utf-8"?>
<!--
=====================================================================
File: AndroidManifest.xml
Tujuan: Mendeklarasikan komponen aplikasi, izin, dan meta-data sistem Android
Dipakai oleh: Sistem Operasi Android & Google Play
Dependensi Utama: SDK Android, MainActivity, FileProvider
Daftar Fungsi: Konfigurasi MainActivity, Izin Internet, Izin Baca Kontak, Konfigurasi FileProvider kamera
Side Effect: Menentukan entry point peluncuran aplikasi, izin runtime, dan penyedia file sementara untuk kamera luar
=====================================================================
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://tools.android.com/apk/res/auto"
    tools:ignore="MissingXmlNamespace">

    <!-- Izin untuk fungsionalitas eksternal -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WADirect">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.WADirect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Provider untuk membagikan file sementara dengan aman (Kamera HP) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.heytayo.whatsappin.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
